body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-colour);
  background-size: cover;
  font-family: sans-serif;
}
nav {
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  font-size: 1rem;
  gap: 4em;
  color: black;
}
a:hover{
  color: gray;
}
ul>.nav-bar {
  text-align: center;
  padding:4rem;
  color: black;
  width: 100vw;
 
}

ul>.films-list {
  flex: auto;
  flex-direction: column;
  padding:4rem;
}

li {
  list-style-type: none;
}

.film {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 40rem;
  list-style: none;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out; 
} 
img {
  width: 30rem;
}

p {
  margin-bottom: .5em;
}

h4 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
}