:root {
  --bg-colour: whitesmoke; /* Background colour - Dark blue */
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* COLOR VARIABLES */

:root {
  --primary: rgba(250, 250, 250, 1);
  --secondary: rgba(192, 223, 253, 1);
  --primary-text: rgba(38, 38, 38, 1);
  --secondary-text: #bcb8b1;
  --secondary-test: rgba(255, 255, 255, 1);
}

body {
  background-color: var(--primary);
}

body h1 {
  text-align: center;
  color: var(--primary-text);
  font-style: italic;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.home_container,
.form_container,
.login_container {
  width: 40%;
  margin: 20vh auto 0 auto;
  height: 50vh;
  border: 1px solid var(--primary);
  background-color: var(--secondary-test);
}

nav {
  margin-bottom: 3em;
}
a {
  text-decoration: none;
  font-size: 1rem;
  gap: 4em;
  color: black;
}

ul>.nav-bar {
  text-align: center;
  padding:4rem;
  color: black;
  width: 100vw;
}